.main-content {
    display: flex;
    margin-top: 80px;
    /* Increased top margin to leave more space for the search bar */
    width: 99%;
    background-color: var(--background-color);
}

.artist-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically if needed */
    flex-direction: column;  /* Stack the image and text vertically */
    width: 100%;  
}
.artist-info {
    display: flex;
    align-items: center; /* Align the image and artist name horizontally */
    margin-bottom: 10px; /* Adds space between the artist-info and artist-details */
    text-align: center; 
}

.artist-image {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Circular image */
    object-fit: cover;
    margin-right: 10px; /* Space between image and artist name */
    cursor: pointer;
}

.artist-details {
    display: flex;
    flex-direction: column; /* Stacks views and description vertically */
}
#root {
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
    background-color: var(--background-color); /* Apply the background color */
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color); /* Background for the page */
  }
  

.video-watch-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: -10px; /* Adjust this value based on the gap size */
    box-sizing: border-box;
    width: 100%;
    max-width: 80%;
}

.video-container {
    position: relative;
    width: 100%;
    background-color: var(--element-background-color);
    border: 1px solid var(--element-background-color);
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.video-container video {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.related-videos {
    display: flex;
    flex-direction: column;
    background-color: var(--element-background-color);
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 50px;
}

.video-actions button {
    margin-right: 10px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
}

.video-actions button:hover {
    background-color: #0056b3;
}

.comments-section {
    background-color: var(--element-background-color);
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}


textarea:focus {
    outline: none;
    border-color: #007bff;
}
.comment {
    text-align: left; /* Align comments to the left */
}

.comment-dot {
    margin-bottom: 4px;
    color: var(--text-color) !important;;
    font-size: 24px; /* Adjust the size of the dot */
    color: #333;     /* Adjust the color of the dot */
    margin-right: 8px; /* Add space between the dot and the comment */
    vertical-align: middle; /* Align the dot with the text */
    display: inline-block; /* Ensure the dot is on the same line as the text */
}

.comments-section button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

.comments-section button:hover {
    background-color: #0056b3;
}
.comments-section{
    color: var(--text-color);
}


.h1-font, h1 {  
    font-size: 25px;
    color: var(--text-color);
}
.h1-font{
    margin-top: 12px;
    text-align: center !important;
}

.views-font, p {
    font-size: 12px;
}
.description-font, p {
    font-size: 17px;
    color: var(--text-color);
}

.icon-edit {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../data/icons/edit.svg');
    background-size: cover;
    cursor: pointer;
    margin-left: 10px; /* Adjust spacing as needed */
    vertical-align: middle; /* Align the icon with text */
}

.icon-save {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../data/icons/save.svg');
    background-size: cover;
    cursor: pointer;
    margin-left: 10px; /* Adjust spacing as needed */
    vertical-align: middle; /* Align the icon with text */
}
h2{
    color: var(--text-color);
}
