.VideosPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 60px 0 60px; /* Top, right, bottom, left */
  gap: 80px;
  margin-left: 60px;  
  width: 100%; 
  height: 100%; 
}

.VideosPanel.has-videos {
  background-color: var(--element-background-color); /* Apply element background color when videos exist */
  flex-grow: 1;
  padding-top: 40px;
}

.VideosPanel.no-videos {
  background-color: var(--background-color); /* Apply default background color when no videos */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--element-background-color); /* Background for the page */
}

#root {
  background-color: var(--element-background-color);
  height: 100%;
}
