.HomePage {
  background-color: var(--element-background-color);
  color: var(--text-color);
}
.home-page-con{
  background-color: var(--element-background-color);
}
#root {
  min-height: 100vh; /* Ensure it covers the full height of the viewport */
  background-color: var(--background-color); /* Apply the background color */
}
