.ToolBar {
    display: flex;
    justify-content: space-between; /* Align items on both ends */
    align-items: center;
    height: 80px;
    background-color: var(--toolbar-background-color); /* Corrected spelling */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 2px var(--element-background-color);
    padding: 0 20px; /* Padding on left and right */
}
.centerContainer {
    display: flex;
    justify-content: center;
    width: auto;
    flex-grow: 1; /* Allow it to grow and take available space */
}
.personal-box {
    margin-bottom: 0px; /* Adjust the bottom margin if necessary */
}

.WebLogo {
    display: inline-block;
    justify-content: left;
    height: 100%;
    max-width: 200px;
    overflow: hidden;
    cursor: pointer;
}

.WebLogo img {
    padding: 5px;
    padding-left: 10px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
.darkmode-container {
    margin-top: 20px;
    display: flex;
    align-items: center; /* Vertically center */
}